html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

#root, .App {
  height: 100%;
}

* {
  box-sizing: border-box;
}

input, button, select {
  &:focus {
    outline: none;
  }
}

/* Variables */
$containerRadius: 10px;
$btnRadius: 10px;
$commonWeight: 700;

/* Links in header and footer button */
$mainLinksSpacing: 1px;
$mainLinksWeight: 900;

/* Elements Max Width */
$elMaxWidth: 275px;

$inputMargin: 10px 0;
$inputPadding: 10px 5px;

/* Colours */
$createEditBtn: #1f7b83;
$createEditBtnHover: #146066;

$deleteBtn: #b13046;
$deleteBtnHover: #891e30;

$faded: #a4a4a4;
$colorBoxFont: #858585;

/* Category Colours */
$foodCategory: #f99457;
$workCategory: #a05ce8;
$otherCategory: #3AA652;

/* Main */
.mainContainer {
  text-align: center;
  padding-bottom: 90px;
  border-top: 1px solid #eee;

  .emptyList {
    margin-top: 40px;
    display: block
  }
}

/* Task Page */
.taskPage .mainContainer {
  display: flex;
  align-content: center;
  padding: 20px 0;
  justify-content: center;
}

@import './Navigation.scss';
@import './NewTask.scss';
@import './Subtask.scss';
@import './Task.scss';
